<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>

<body>

    <h1>Charts</h1>

    <h2>Pie Chart</h2>
<img src="{{ url_for('static', filename='piechart.png') }}" alt="Pie Chart">

<h2>India Bar Graph</h2>
<img src="{{ url_for('static', filename='bargraph1.png') }}" alt="India Bar Graph">

<h2>Israel Bar Graph</h2>
<img src="{{ url_for('static', filename='bargraph2.png') }}" alt="Israel Bar Graph">

<h2>Iceland Bar Graph</h2>
<img src="{{ url_for('static', filename='bargraph3.png') }}" alt="Iceland Bar Graph">

</body>

</html>